/* Default Page Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: #aaa6a6;
    font-family: 'Open Sans', serif;
}

/* Background Image Styling */
.banner-image {
    background-image: url('../Images/Backgroun-Image.png');
    background-size: cover;
    background-position: center;
}

/* Navigation Bar Styling */
.navbar-brand img {
    width: 80px;
}

.navbar-nav {
    align-items: center;
}

.navbar .navbar-nav .nav-link {
    color: #743432;
    font-size: 1.2em;
    padding: 0.3em 1em;
}

.navbar .navbar-nav .nav-link:hover {
    color: #C4BBB8;
}

@media screen and (min-width: 992px){
    .navbar-brand img {
        width: 100px;
    }
    .navbar-brand {
        margin-right: 0;
        padding: 0 1em;
    }
    .accordian-body {
        display:flex;
    }
    
    .menu-item-wrapper {
        float: left;
        width: 48%;
    }

}

/* Menu Styling */
.menu-header {
    text-align: center;
    padding: 50px;
    font-weight: 300;
    color: #ffffff;
}

.accordian-header {
    text-align: center;
}

.accordion-button {
    display:block;
    background-color: #743432;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 600;
}

.accordion-button:not(.collapsed) {
    display:block;
    background-color: #743432;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 600;
    box-shadow: none;
}

.accordion-button .collapsed {
    box-shadow: none;
}

.accordion-button:focus {
    border-color: #00FFFFFF;
    box-shadow: none;
}

.container {
    padding: auto;
}

.menu-item .pricing {
    display: inline-block;
}

.menu-item-wrapper {
    margin: 10px;
    margin-bottom: 20px;
}
.menu-item-header {
    text-align: center;
    border-bottom: 1px solid #00000033;
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

.menu-item .pricing {
    float: left;
}

.menu-wrapper {
    padding-left: 0;
    list-style-type: none;
}

.menu-header {
    scroll-margin-top: 1em;
}

.menu-item {
    font-weight: 600;
    line-height: 1;
    font-size: 14px;
    letter-spacing: 0.1px;
}

.pricing {
    font-weight: 600;
    line-height: 1;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.menu-item-descriptor {
    color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
    font-weight: 600;
}

#any-two {
    font-style: italic;
}

.menu-item-hours {
    margin-bottom: 20px;
    margin: 10px;
    width: 97.5%;
}

.hour-description{
    color: #743432;
    font-size: 12px;
    font-weight: 600;
}





