/* Default Page Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: #4C5B61;
    font-family: 'Open Sans', serif;
}

/* Background Image Styling */
.banner-image {
    background-image: url('../Images/Backgroun-Image.png');
    background-size: cover;
    background-position: center;
}

/* Navigation Bar Styling */
.navbar-brand img {
    width: 80px;
}

.navbar-nav {
    align-items: center;
}

.navbar .navbar-nav .nav-link {
    color: #743432;
    font-size: 1.2em;
    padding: 0.3em 1em;
}

.navbar .navbar-nav .nav-link:hover {
    color: #C4BBB8;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28116, 52, 50, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-toggler {
    border: none;
}

.navbar-toggler {
    color: #00000000;
}

/* Menu Styling */
.menu-header {
    text-align: center;
    padding: 1.5em;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 0px;
}

.accordian-header {
    text-align: center;
}

.accordion-button {
    display:block;
    background-color: #743432;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 600;
}

.accordion-button:not(.collapsed) {
    display:block;
    background-color: #743432;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 600;
    box-shadow: none;
}

.accordion-button .collapsed {
    box-shadow: none;
}

.accordion-button:focus {
    border-color: #00FFFFFF;
    box-shadow: none;
}

.menu-item .pricing {
    display: inline-block;
}

.menu-item-wrapper {
    margin: 10px;
    margin-bottom: 15px;
}

.menu-item-header {
    text-align: center;
    border-bottom: 1px solid #00000033;
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

.menu-item .pricing {
    float: left;
}

.menu-wrapper {
    padding-left: 0;
    list-style-type: none;
}

.menu-header {
    scroll-margin-top: 1.5em;
}

.menu-item {
    font-weight: 600;
    line-height: 1;
    font-size: 14px;
    letter-spacing: 0.1px;
}

.pricing {
    font-weight: 600;
    line-height: 1;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.menu-item-descriptor {
    color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
    font-weight: 600;
}

#any-two {
    font-style: italic;
}

.menu-item-hours {
    margin-bottom: 20px;
    margin: 10px;
    width: 97.5%;
}

.hour-description{
    color: #743432;
    font-size: 12px;
    font-weight: 600;
}

.lunch-container, .dinner-container{
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 60px;
}

.dinner-container {
    background-color: #DCC9B6;
}

#dinner {
    color:#743432;
}

.menu-item-includes {
    color:#743432;
    font-size: 12px;
    font-weight: 600;
}

/* Footer*/
footer{
    width:100%;
    min-height: calc(100vh - 52px);
    background-color:#71697A;
}

.footer-heading {
    text-align: center;
    padding: 1.5em;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 0px;
    padding-bottom: 20px;
}
  
.timeAndPlace {
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.time-open {
    margin-bottom: 10px;
    text-align: center;
    color: #ffffffcc;
    font-size: 12px;
    font-weight: 500;
}

.copyright {
    text-align: center;
    color: #ffffffcc;
    font-size: 12px;
    font-weight: 500;
}

#location {
    scroll-margin-top: 2em;
}

.logo {
    width: 100px;
    margin: auto;
}

#call-button {
    color: #ffffffcc;
    text-decoration: none; 
}

#call-button:visited {
    text-decoration: none; 
}

#call-button:hover {
    text-decoration: none; 
}

#call-button:active { 
    text-decoration: none; 
}



@media screen and (min-width: 992px){
    .navbar-brand img {
        width: 100px;
    }
    .navbar-brand {
        margin-right: 0;
        padding: 0 1em;
    }
    .accordian-body {
        display:flex;
    }
    
    .menu-item-wrapper {
        float: left;
        width: 47%;
    }
    .menu-item-descriptor {
        min-height: 18px;
    }

}

@media screen and (max-width: 991px) {
    .lunch-container, .dinner-container {
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (max-width:767px) {
    .footer-heading {
        padding-top: 20px
    }
    #top-heading {
        padding-top: 40px;
    }
    hr {
        width: 50%;
        margin: auto;
        color: #fff;
    }
}








